/* Adding Google font "Poppins" for Body */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 30px;
}

.half-width {
    width: 39%;
    padding: 3%;
    margin: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}

section {
    height: 500px;
    padding-bottom: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.full-stack {
    box-shadow: 7px 7px 40px gray;
    border-radius: 5px;
    height: 70%;
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;

}

.pro-full-stack {
    box-shadow: 7px 7px 40px gray;
    border-radius: 5px;
    height: 70%;
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}

.three-exp {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}